[submodule "LunyScript"]
	path = LunyScript
	branch = .
    update = merge
	url = https://github.com/CodeSmile-0000011110110111/LunyScript
[submodule "Luny"]
	path = Luny
	branch = .
    update = merge
	url = https://github.com/CodeSmile-0000011110110111/Luny
[submodule "Luny.Godot"]
	path = Luny.Godot
	branch = .
    update = merge
	url = https://github.com/CodeSmile-0000011110110111/Luny.Godot
[submodule "LunyScript.Godot"]
	path = LunyScript.Godot
	branch = .
    update = merge
	url = https://github.com/CodeSmile-0000011110110111/LunyScript.Godot
[submodule "LunyLua"]
	path = LunyLua
	branch = .
    update = merge
	url = https://github.com/CodeSmile-0000011110110111/LunyLua
